.articles {
  background-color: $veryLightGray;
}

.article {
  &__content {
    h2 {
      text-align: center;

      @include breakpoint-up(md) {
        text-align-last: left;
      }
    }
  }

  &__grid {
    display: grid;
    gap: 1.875rem;
    grid-template-columns: 1fr;
    /* grid-template-columns: repeat(auto-fit, minmax(14.375rem, 1fr)); */

    @include breakpoint-up(md) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include breakpoint-up(lg) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__item {
    background-color: $white;
    border-radius: 0.3125rem;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: transform 200ms ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__image {
    height: 12.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &__text {
    padding: 1.875rem 1.25rem 2.5rem;
    color: $grayishBlue;
    @include breakpoint-up(lg) {
      padding: 1.875rem 1.5625rem;
    }
  }

  &__author {
    font-size: 0.625rem;
    margin-bottom: 0.75rem;
  }

  &__title {
    margin-bottom: 0.625rem;
    font-size: $font-medium;
    line-height: 1.2;
    color: $darkBlue;
  }

  &__description {
    font-size: 0.8125rem;
  }
}
