html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  font-family: "Public Sans", sans-serif;
  line-height: 1.3;
  font-size: $font-medium;
  font-weight: 300;
  color: $grayishBlue;
  overflow-x: hidden;

  &.noscroll {
    overflow: hidden;
  }
}

h1,
h2,
h3 {
  margin-top: 0;
}

h2 {
  font-size: 2.25rem;
}

//spacing
.container {
  max-width: 70rem;
  margin: 0 auto;

  &--p {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  &--px {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  &--py {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
  }
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

// flexbox
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
}

//we may use .button in an anchor link <a>
button,
.button {
  display: inline-block;
  padding: 0.875rem 2.1875rem;
  border-radius: 3.125rem;
  border: 0;
  font-size: $font-sm;
  font-weight: 400;
  cursor: pointer;
  background: linear-gradient(to right, $limeGreen, $brightCyan);
  color: $white;
  transition: opacity 200ms ease-in-out;

  &:hover {
    opacity: 0.75;
  }
}

.hide-sm {
  //hide for mobile and tablet
  @include breakpoint-down(md) {
    display: none;
  }
}

.hide-lg {
  //hide for desktop or laptop
  @include breakpoint-up(lg) {
    display: none;
  }
}
