.hero {
  background-color: $veryLightGray;

  .container {
    @include breakpoint-up(lg) {
      display: flex;
      align-items: center;
    }
  }

  &__img {
    position: relative;
    min-height: 17.5rem;
    background-image: url("/images/bg-intro-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    @include breakpoint-up(lg) {
      flex: 3;
      order: 2;
      height: 41rem; //flexbox give height base on content
    }

    &::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      background-image: url("/images/image-mockups.png");
      background-size: 90%;
      background-repeat: no-repeat;
      background-position: center -116px;
    }
  }

  &__text {
    text-align: center;

    @include breakpoint-up(lg) {
      flex: 2;
      order: 1;
      text-align: left;
    }
    h1 {
      font-weight: 300;
      line-height: 1.15;
      font-size: 2.3125rem;
      color: $darkBlue;
      margin-bottom: 1.5rem;

      @include breakpoint-up(lg) {
        font-size: $font-xl;
      }
    }

    p {
      line-height: 1.5;
      margin-bottom: 2.25rem;
    }
  }
}
