.hero {
  background-color: $veryLightGray;

  .container {
    @include breakpoint-up(lg) {
      display: flex;
      align-items: center;
    }
  }

  &__img {
    // mobile background
    min-height: 17.5rem;
    position: relative;
    background-image: url("/images/bg-intro-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    //change the position of the background on tablet
    @include breakpoint-up(md) {
      min-height: 25rem;
      background-position: center 70%;
    }

    //remove the background on laptop
    @include breakpoint-up(lg) {
      flex: 3;
      order: 2;
      height: 41rem; //flexbox give height base on content
      background-image: none;
    }

    &::before {
      // background on laptop
      @include breakpoint-up(lg) {
        content: "";
        position: absolute;
        height: 100%;
        width: 150%;
        background-image: url(/images/bg-intro-desktop.svg);
        background-repeat: no-repeat;
        background-position: -0.125rem -14.4375rem;
        background-size: 120%;
      }
    }

    &::after {
      // mobile image on mobile screen
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      background-image: url("/images/image-mockups.png");
      background-size: 93%;
      background-repeat: no-repeat;
      background-position: center bottom;

      //mobile image on tab screen
      @include breakpoint-up(md) {
        background-size: 50%;
      }

      // mobile image on laptop screen
      @include breakpoint-up(lg) {
        width: 120%;
        height: 122%;
        background-size: 96%;
        background-position: center 111%;
        left: 22%;
      }
    }
  }

  &__text {
    text-align: center;

    @include breakpoint-up(lg) {
      flex: 2;
      order: 1;
      text-align: left;
    }
  }
}
